<%- include('partials/header.ejs'); -%>

<div class="d-flex align-items-center py-4">

    <main class="form-signin w-100 m-auto">

      <%# Form that submits to the signin post request located in index.js. %>
      <form action="/signin" method="POST" class="form mx-auto mt-5">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <% if(locals.message){%>
          <div class="alert alert-danger" role="alert">
            Wrong username or password.
          </div>
        <% } %>
        
        <%# Div containing the Username field. %>
        <div class="form-floating">
          <input type="username" class="form-control" id="floatingInput" placeholder="Username" name="username">
          <label for="floatingInput">Username</label>
        </div>

        <%# Div containing the Password field. %>
        <div class="form-floating mt-2 mb-2">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        
        <%# Signin button. %>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      </form>
    </main>

</div>  

<%- include('partials/footer.ejs'); -%>