html{
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, rgb(206, 146, 255), rgb(204, 83, 252), rgb(84, 0, 133));
    color: rgb(22, 0, 37);
    
}

footer {
    flex: 0 0 auto;
    color: white;
    text-align: center;
}

.hidden{
    display: none;
}

.welcome{
    text-align: center;
    width: 500px; 
    justify-content: center; 
    display: flex;
}

.album{
    background-color: rgb(41, 41, 41);
    color: white;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
}


@media screen and (min-width: 300px) and (max-width: 495px) { 
    
  /* Small devices (landscape phones, 576px and up) */
    .form{
        width: 300px;    
    }

    .form-signin{
        width: 350px;    
    }

    .welcome{
        text-align: center;
        width: 300px; 
        justify-content: center; 
        display: flex;
    }

    .smaller{
        row-gap: 10px;
    }

    fieldset {
        display: block;
        min-width: 350px;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: solid;
        border-width: medium;
      }

    textarea{
        width: 270px
    }
}

@media screen and (min-width: 496px){ 
    
    .form{
        width: 450px;    
    }

    fieldset {
    display: block;
    min-width: 475px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: solid;
    border-width: medium;
    }

    textarea{
        width: 350px
    }

    .smallButton{
        padding-top: 5px;
        padding-bottom: 5px; 
    }
  }
